<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<body id="newform">
<%= render 'partials/header' %>

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
		<br>
	<% end %>
<% end %>


<div id='form'>
<h1 id='h1'>Sign in mirror.</h1>
  <%= form_tag mirrors_sessions_path  %>

    <p><%= text_field_tag :email, "", id: 'input' , placeholder: 'Email' %></p>
    <p><%= password_field_tag :password, "", id: 'input', placeholder: 'Password' %></p>
    <%= submit_tag "Submit", id: 'usersubmit'  %>

  </div>
</div>
</body>