<body id="newform"
<%= render 'partials/header' %>
 <h1>Signup!</h1>

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
		<br>
	<% end %>
<% end %>


<%= form_for @user do |f| %>

  <p>Name: <%= f.text_field :name %></p>
  <p>Email: <%= f.text_field :email %></p>
  <p>Photo Link: <%= f.text_field :link %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <%= f.submit "Submit" %>

<% end %>




<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="wrapper">
  <h1>Register For An Account</h1>
  <p>To sign-up for a free basic account please provide us with some basic information using
  the contact form below. Please use valid credentials.</p>
  <form class="form" method="post" action="yourpage.html">
    <input type="text" class="name" placeholder="Name">
    <div>
      <p class="name-help">Please enter your first and last name.</p>
    </div>
    <input type="email" class="email" placeholder="Email">
     <div>
      <p class="email-help">Please enter your current email address.</p>
    </div>
    <input type="submit" class="submit" value="Register">
  </form>
</div>
<p class="optimize">
  Optimized for Chrome & Firefox!
</p>