<%= render 'partials/header' %>
 <h1>Signup!</h1>

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
		<br>
	<% end %>
<% end %>


<%= form_for @user do |f| %>

  <p>Name: <%= f.text_field :name %></p>
  <p>Email: <%= f.text_field :email %></p>
  <p>Photo Link: <%= f.text_field :link %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <%= f.submit "Submit" %>

<% end %>