<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<body id="newform"
<%= render 'partials/header' %>

<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
		<br>
	<% end %>
<% end %>

 
<div id='form'>
<h1 id='h1'>Sign up for Magic Looks account.</h1>
  <%= form_for @user do |f| %>

    <p><%= f.text_field :name, id: 'input', placeholder: 'Name' %></p>
    <p><%= f.text_field :email, id: 'input', placeholder: 'Email' %></p>
    <p><%= f.text_field :link,  id: 'input', placeholder: 'Photo Link' %></p>
    <p><%= f.password_field :password,  id: 'input', placeholder: 'Password' %></p>
    <p><%= f.password_field :password_confirmation,  id: 'input', placeholder: 'Confirm Password' %></p>
    <%= f.submit "Submit", id: 'usersubmit'  %>

  <% end %>
  </div>
</div>